body{
    margin:0;
    text-align:center;
    padding-top:1200px;
}
.profile{
    width:175px;
    margin-bottom:50px;
    border-radius:50%;
}
#welcome{
    position: absolute;
    overflow:hidden;
    height:800px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity:0.83;
    background:linear-gradient(#b8fffb 0%,#00c9be 100%);
    display:table;
    width:100%;
    Height:100%;
}